{# header block#}

{% block header %}
<div class="navbar-header">
</div>{#  /.navbar-header #}

<div class="container">
  <div class="navbar-collapse collapse">
    
    <nav>
     <ul class="nav navbar-nav">
		  </ul>
      {% embed 'LocationPlanBundle:Scaffolding:navigation.html.twig' %}{% endembed %}
    </nav>
    
  </div>{#  /.navbar-collapse collapse #}
</div>{#  /.container #}
{% endblock %}
