@import "compass";

$experimental-support-for-svg: true;

/**********************************************************
* Mixins
**********************************************************/

// $sitewidth and $margin in px
@mixin mf-layout ($columns: 24, $sitewidth: 960, $margin: 20) {
  $col-margin: percentage($margin/$sitewidth);

  .cols#{$columns} {
    margin: 0;

    &:after {
      clear: both;
      content: " ";
      display: block;
      font-size: 0;
      visibility: hidden;
    }

    > .col {
      float: left;
      margin-left: $col-margin;
      min-height: 1px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  $i: $columns;

  @while $i > 0 {
    $width: (100% / $columns) * $i;
    $margin: ($col-margin / $columns) * $i;

    .c#{$i}of#{$columns} {
      width: $width + $margin - $col-margin;
    }

    .cols#{$columns} .col.offset#{$i}of#{$columns} {
      margin-left: $width + $margin + $col-margin;
    }

    .cols#{$columns} .col.offset#{$i}of#{$columns}:first-child {
      margin-left: $width + $margin;
    }

    $i: $i - 1;
  }
}

// Base64 background-image
@mixin base64-image($url) {
  background-image: inline-image($url);
}


/**********************************************************
* z-index
**********************************************************/

$z-basic:       1;
$z-main-nav:    5;
$z-legend:     10;
$z-floorplan:  15;

/**********************************************************
* Farben
**********************************************************/

$ba-blue: #006eb6;

$ba-lightgrey: #ececec;
$ba-grey: #dadad9;
$ba-mediumgrey: #c6c6c6;
$ba-darkgrey: #5E5C5F;

$color-agrar: #86bc24;
$color-trade: #f59c00;
$color-wood: #bb7a00;
$color-medinf: #e30513;
$color-insurance: #8b2839;
$color-comtec: #e5007d;
$color-tax: #c7135c;
$color-banking: #951b81;
$color-businessinf: #203a8F;
$color-industrial: #15bae6;

/**********************************************************
* Placeholder
**********************************************************/

/* Border-Radius */

%l-round-0-1-1-0 {
  @include border-radius(0 10px 10px 0);
}

%round-ico {
  @include border-radius(40px);
}

%round-tooltip {
  @include border-radius(10px);
}

/* Helper */

%border-box {
  @include box-sizing('border-box');
}

%margin-bottom {
  margin-bottom: 20px;
}

/**********************************************************
* Gradients
**********************************************************/

%ba-lightgrey-ba-mediumgrey-gradient {
  background-color: $ba-lightgrey;
  @include background(linear-gradient(top, $ba-lightgrey, $ba-mediumgrey));
  .lt-ie9 & {
    @include filter-gradient($ba-lightgrey, $ba-mediumgrey, vertical);
  }
}

/**********************************************************
* Bilder
**********************************************************/

$ico-tooltip: "ico-tooltip.svg";
$ico-tooltip-grey: "ico-tooltip-grey.svg";

$ico-tooltip-agrar: "ico-tooltip-agrar.svg";
$ico-tooltip-banking: "ico-tooltip-banking.svg";
$ico-tooltip-businessinf: "ico-tooltip-businessinf.svg";
$ico-tooltip-comtec: "ico-tooltip-comtec.svg";
$ico-tooltip-industrial: "ico-tooltip-industrial.svg";
$ico-tooltip-insurance: "ico-tooltip-insurance.svg";
$ico-tooltip-medinf: "ico-tooltip-medinf.svg";
$ico-tooltip-tax: "ico-tooltip-tax.svg";
$ico-tooltip-trade: "ico-tooltip-trade.svg";
$ico-tooltip-wood: "ico-tooltip-wood.svg";
$ico-tooltip-hover: "ico-tooltip.svg";

$ico-tablepos: "ico-tablepos.png"; //3
$ico-tablepos-hover: "ico-tablepos-hover.png"; //3
$ico-timetable: "ico-timetable.png";
$ico-timetable-hover: "ico-timetable-hover.png";
$ico-campusplan: "ico-campusplan.png";
$ico-campusplan-hover: "ico-campusplan-hover.png";

$ico-mensa: "ico-mensa.svg"; //11
$ico-bibo: "ico-bibo.svg"; //15
$ico-pool: "ico-pool.svg"; //39
$ico-audio: "ico-audio.svg";
$ico-laboratory: "ico-laboratory.svg";
$ico-language: "ico-language.svg";
$ico-auditorium: "ico-auditorium.svg";

$ico-pool-agrar: "ico-pool-agrar.svg";
$ico-pool-banking: "ico-pool-banking.svg";
$ico-pool-businessinf: "ico-pool-businessinf.svg";
$ico-pool-comtec: "ico-pool-comtec.svg";
$ico-pool-industrial: "ico-pool-industrial.svg";
$ico-pool-insurance: "ico-pool-insurance.svg";
$ico-pool-medinf: "ico-pool-medinf.svg";
$ico-pool-tax: "ico-pool-tax.svg";
$ico-pool-trade: "ico-pool-trade.svg";
$ico-pool-wood: "ico-pool-wood.svg";

$ico-audio-agrar: "ico-audio-agrar.svg";
$ico-audio-banking: "ico-audio-banking.svg";
$ico-audio-businessinf: "ico-audio-businessinf.svg";
$ico-audio-comtec: "ico-audio-comtec.svg";
$ico-audio-industrial: "ico-audio-industrial.svg";
$ico-audio-insurance: "ico-audio-insurance.svg";
$ico-audio-medinf: "ico-audio-medinf.svg";
$ico-audio-tax: "ico-audio-tax.svg";
$ico-audio-trade: "ico-audio-trade.svg";
$ico-audio-wood: "ico-audio-wood.svg";

$ico-laboratory-agrar: "ico-laboratory-agrar.svg";
$ico-laboratory-banking: "ico-laboratory-banking.svg";
$ico-laboratory-businessinf: "ico-laboratory-businessinf.svg";
$ico-laboratory-comtec: "ico-laboratory-comtec.svg";
$ico-laboratory-industrial: "ico-laboratory-industrial.svg";
$ico-laboratory-insurance: "ico-laboratory-insurance.svg";
$ico-laboratory-medinf: "ico-laboratory-medinf.svg";
$ico-laboratory-tax: "ico-laboratory-tax.svg";
$ico-laboratory-trade: "ico-laboratory-trade.svg";
$ico-laboratory-wood: "ico-laboratory-wood.svg";

$ico-language-agrar: "ico-language-agrar.svg";
$ico-language-banking: "ico-language-banking.svg";
$ico-language-businessinf: "ico-language-businessinf.svg";
$ico-language-comtec: "ico-language-comtec.svg";
$ico-language-industrial: "ico-language-industrial.svg";
$ico-language-insurance: "ico-language-insurance.svg";
$ico-language-medinf: "ico-language-medinf.svg";
$ico-language-tax: "ico-language-tax.svg";
$ico-language-trade: "ico-language-trade.svg";
$ico-language-wood: "ico-language-wood.svg";

$ico-auditorium-agrar: "ico-auditorium-agrar.svg";
$ico-auditorium-banking: "ico-auditorium-banking.svg";
$ico-auditorium-businessinf: "ico-auditorium-businessinf.svg";
$ico-auditorium-comtec: "ico-auditorium-comtec.svg";
$ico-auditorium-industrial: "ico-auditorium-industrial.svg";
$ico-auditorium-insurance: "ico-auditorium-insurance.svg";
$ico-auditorium-medinf: "ico-auditorium-medinf.svg";
$ico-auditorium-tax: "ico-auditorium-tax.svg";
$ico-auditorium-trade: "ico-auditorium-trade.svg";
$ico-auditorium-wood: "ico-auditorium-wood.svg";


$ico-position: "ico-position.svg";


/* building */

$img-campus: "campus.svg";

$img-K-building-2: "K-building-2.svg";
$img-K-building-3: "K-building-3.svg";

$img-EG-building-1: "EG-building-1.svg";
$img-EG-building-2: "EG-building-2.svg";
$img-EG-building-3: "EG-building-3.svg";

$img-1OG-building-1: "1OG-building-1.svg";
$img-1OG-building-2: "1OG-building-2.svg";
$img-1OG-building-3: "1OG-building-3.svg";

$img-2OG-building-1: "2OG-building-1.svg";
$img-2OG-building-2: "2OG-building-2.svg";
$img-2OG-building-3: "2OG-building-3.svg";

$img-3OG-building-2: "3OG-building-2.svg";
