@import "compass";

$experimental-support-for-svg: true;

/**********************************************************
* Mixins
**********************************************************/

// $sitewidth and $margin in px
@mixin mf-layout ($columns: 24, $sitewidth: 960, $margin: 20) {
  $col-margin: percentage($margin/$sitewidth);

  .cols#{$columns} {
    margin: 0;

    &:after {
      clear: both;
      content: " ";
      display: block;
      font-size: 0;
      visibility: hidden;
    }

    > .col {
      float: left;
      margin-left: $col-margin;
      min-height: 1px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  $i: $columns;

  @while $i > 0 {
    $width: (100% / $columns) * $i;
    $margin: ($col-margin / $columns) * $i;

    .c#{$i}of#{$columns} {
      width: $width + $margin - $col-margin;
    }

    .cols#{$columns} .col.offset#{$i}of#{$columns} {
      margin-left: $width + $margin + $col-margin;
    }

    .cols#{$columns} .col.offset#{$i}of#{$columns}:first-child {
      margin-left: $width + $margin;
    }

    $i: $i - 1;
  }
}

// Base64 background-image
@mixin base64-image($url) {
  background-image: inline-image($url);
}


/**********************************************************
* z-index
**********************************************************/

$z-basic:       1;

/**********************************************************
* Farben
**********************************************************/

/**********************************************************
* Placeholder
**********************************************************/

%border-box {
  @include box-sizing('border-box');
}

%margin-bottom {
  margin-bottom: 20px;
}

/**********************************************************
* Verläufe
**********************************************************/

/**********************************************************
* Bilder
**********************************************************/

$ico-tooltip: "ico-tooltip.svg";
$ico-wc: "ico-tooltip.svg"; //13
$ico-mensa: "ico-tooltip.svg"; //11
$ico-poi: "ico-tooltip.svg"; //3
$ico-bibo: "ico-tooltip.svg"; //15
$ico-pool: "ico-tooltip.svg"; //39
$ico: "ico-tooltip.svg";