body {
  color: $ba-darkgrey;
  margin: 0;
  padding: 0;
}

.wrapper {
  bottom: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: $ba-blue;
  font-size: 1.4em;

  &:active,
  &:hover,
  &:focus {
    color: $color-medinf;
  }
}

p {
  font-size: 1.4em;
  margin: 0 0 10px;
}

/* helper */

.left {
  float: left;
}

.agrar {
  background-color: $color-agrar;
}
.trade {
  background-color: $color-trade;
}
.wood {
  background-color: $color-wood;
}
.medinf {
  background-color: $color-medinf;
}
.insurance {
  background-color: $color-insurance;
}
.comtec {
  background-color: $color-comtec;
}
.tax {
  background-color: $color-tax;
}
.banking {
  background-color: $color-banking;
}
.businessinf {
  background-color: $color-businessinf;
}
.industrial {
  background-color: $color-industrial;
}

/* header */

.header {
  @extend %ba-lightgrey-ba-mediumgrey-gradient;
  border-bottom: 10px solid $ba-blue;
  height: 60px;
  width: 100%;

  .heading {
    display: inline-block;
    margin: 8px 0 0;
  }
}

.logo {
  display: inline-block;
  float: left;
  height: 40px;
  margin: 9px 20px 0 20px;
  width: 190px;

  > img {
    display: block;
  }
}

/* main */

.main {
  bottom: 40px;
  position: absolute;
  top: 70px;
  width: 100%;
}

/* footer */

.footer {
  background: $ba-grey;
  bottom: 0;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
}

/* navi */

.main-nav {
  display: block;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 260px;
  z-index: $z-main-nav;

  ul {
    display: inline-block;
  }

  li {
    float: left;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  .ico {
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
  }
}

.footer-nav {
  ul {
    display: inline-block;
    margin: 10px 0 0 20px;
  }
}

/* typo */

.heading {
  margin: 0;
}

.style1 {
  font-size: 3em;
}

.style2 {
  font-size: 2.4em;
}

.style3 {
  font-size: 2em;
}

.style4 {
  font-size: 1.6em;
}

/* Lasche */

.flap {
  @extend %border-box;
  background: $ba-grey;
  bottom: 10px;
  left: -50%;
  overflow: hidden;
  position: absolute;
  top: 100px;
  transition: all 0.2s linear;
  width: 25%;
  min-width: 300px;
  z-index: 1;

  &.active {
    left: 0px;
  }
}

.map-container {
  //background: 30% -30px no-repeat;
  //background-size: 65% auto;
  //@include base64-image($img-1OG-building-2and3);
  height: 100%;
  margin: auto 0;
  position: absolute;
  right: 0;
  transition: all 0.2s ease-in-out;
  width: 75%;

  &.fullscreen {
    height: 100%;
    width: 100%;
  }
}
.map{
  margin: 0 0 0 -25%;
  position: absolute;
  left: 50%;
  opacity: 1;
  height: 100%;
  transition: opacity 0.2s linear;
  overflow: visible;
  &.hide{
    z-index: -1;
    opacity:0;
  }
}

.floor-plan{
  background: $ba-grey;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 10px;
  width: 165px;
  z-index: $z-floorplan;

  .heading {
    text-align: center;
  }

  li {
    margin-bottom: 5px;
  }
}

.floor {
  background: $ba-blue;
  color: #fff;
  display: block;
  font-size: 2.4em;
  height: 33px;
  padding: 5px 10px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 55px;

  &:active,
  &:hover,
  &:focus {
    background: $color-medinf;
    color: #fff;
  }
}

.timetable {
  @extend %border-box;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  transition: all 0.2s linear 0.2s;
  width: 100%;
  z-index: 2;

  ul{
    color: #000;
    line-height: 20px;
  }

  li {
    border-top: 1px solid #fff;
    margin-top: 10px;
    padding-top: 10px;

    &:first-child {
      border-top: 0;
      padding: 0;
    }
  }

  &.active{
    opacity: 1;
  }
}

.list-entry {
  display: inline-block;

  .heading {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }
}

/* legend */

.legend {
  background: $ba-grey;
  bottom: 10px;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 165px;
  z-index: $z-legend;

  li {
    margin-bottom: 5px;
  }

  p {
    display: inline-block;
    margin-bottom: 0;
  }
}

.course {
  display: block;
  height: 12px;
  margin: 4px 10px 0 0;
  width: 12px;
}

/* room */

.room {
  display: inline-block;
  height: 40px;
  position: absolute;
  width: 40px;
  z-index: 0;
}

.switch-btn {
  display: inline-block;
  overflow: hidden;
}

.tl{
  left: 0;
  top: 0;
}
.tr{
  right: 0;
  top: 0;
}
.bl{
  bottom: 0;
  left: 0;
}
.br{
  bottom: 0;
  right: 0;
}

.tooltip {
  background: lightgreen;
  // display: none;
  position: absolute;
  border: 20px solid lightgreen;
  height: 0;
  width: 0;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s linear;
  @extend %round-tooltip;

  &.active{
    width: 200px;
    height: 300px;
    *{
      transition: all 0.2s linear 0.4s;
      opacity: 1;
    }
  }

  *{
    transition: all 0.01s linear;
    opacity: 0;
  }
  .close{
    font-size: 17px;
    position: absolute;
    right: 0px;
    text-decoration: none;
    top: 0px;
  }
}

/* Icons */

.ico {
  background-size: 40px 40px;
  background: 0 0 no-repeat;
  display: block;
  height: 40px;
  overflow: hidden;
  text-indent: -999em;
  width: 40px;
}

.ico-tooltip {
  @include base64-image($ico-tooltip);
  opacity: 1;
  position: absolute;
  transition: all 0.4s linear;
  z-index: 2;

  &:active,
  &:hover,
  &:focus,
  &.active {
    @include base64-image($ico-tooltip-hover);
  }
  &.active{
    transition: all 0.3s linear;
    opacity: 0;
  }
}
.ico-tablepos {
  @include base64-image($ico-tablepos);

  &:active,
  &:hover,
  &:focus,
  &.active {
    @include base64-image($ico-tablepos-hover);
  }
}
.ico-campusplan {
  @include base64-image($ico-campusplan);

  &:active,
  &:hover,
  &:focus,
  &.active {
    @include base64-image($ico-campusplan-hover);
  }
}
.ico-timetable {
  @include base64-image($ico-timetable);

  &:active,
  &:hover,
  &:focus,
  &.active {
    @include base64-image($ico-timetable-hover);
  }
}
