body {
  margin: 0;
  padding: 0;
}

.wrapper {
  bottom: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* header */

.header {
  background: red;
  height: 60px;
  width: 100%;  

  .heading {
    display: inline-block;
    margin: 0;
  }
}

.logo {
  display: inline-block;
  float: left;
  height: 60px;
  width: 172px;

  > img {
    display: block;
  }
}

/* main */

.main {
  bottom: 20px;
  position: absolute;
  top: 60px;
  width: 100%;
}

/* footer */

.footer {
  background: green;
  bottom: 0;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
}

/* navi */

.main-nav {
  height: 40px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 200px;
  z-index: $z-main-nav;

  ul {
    display: inline-block;
    padding-left: 20px;
  }
  
  li {
    float: left;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  .ico {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
}

/* typo */

.heading {
}

.flap {
  @extend %border-box;
  @extend %l-round-0-1-1-0;  
  background: #ccc;
  border-width: 2px 2px 2px 0;
  bottom: 0;
  left: -300px;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 0.2s linear;
  width: 300px;
  z-index: 1;

  &.active {
    left: 0px;
  }
}

.map-container {
  background: 30% -30px no-repeat;
  background-size: 65% auto;
  @include base64-image($img-1OG-building-2and3);
  height: 66%;
  margin: auto 0;
  position: absolute;
  right: 0;
  transition: all 0.2s ease-in-out;
  width: 66%;
  
  &.fullscreen {
    height: 100%;
    width: 100%;
  }
}

.floor-plan{
  background: blue;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  z-index: $z-floorplan;
}

.list{
  @extend %border-box;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 70px 20px 20px;
  position: absolute;
  transition: all 0.2s linear 0.2s;
  width: 100%;
  z-index: 2;
  
  ul{
    color: black;
    line-height: 20px;
  }
  
  &.active{
    opacity: 1;
  }
}

/* legend */

.legend {
  background: yellow;
  bottom: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 200px;
  z-index: $z-legend;
}

/* room */

.room {
  display: inline-block;
  height: 26px;
  position: absolute;
  width: 26px;

  .fullscreen & {
    height: 40px;
    width: 40px;
  }
}

.switch-btn {
  display: inline-block;
  overflow: hidden;
}

.number-111 {
  left: 30.5%;
  top: 14%;
}

.tooltip {
  background: lightgreen;
  // display: none;
  padding: 20px;
  position: absolute;
}

/* Icons */

.ico {
  background: 0 0 no-repeat;
  background-size: 26px 26px;
  display: block;
  height: 26px;
  text-indent: -999em;
  width: 26px;

  .fullscreen & {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
}

.ico-tooltip {
  @include base64-image($ico-tooltip);

  &:active,
  &:hover,
  &:focus,
  &.active {
    @include base64-image($ico-tooltip-hover);
  }
}
.ico-position {
  @include base64-image($ico-position);

  &:active,
  &:hover,
  &:focus,
  &.active {
    @include base64-image($ico-position-hover);
  }
}
.ico-compass {
  @include base64-image($ico-compass);

  &:active,
  &:hover,
  &:focus,
  &.active {
    @include base64-image($ico-compass-hover);
  }
}
.ico-timetable {
  @include base64-image($ico-timetable);

  &:active,
  &:hover,
  &:focus,
  &.active {
    @include base64-image($ico-timetable-hover);
  }
}