/* Maps */

.BC.F0 {
  background: 0 0 no-repeat;
  background-size: auto 100%;
  @include base64-image($img-EG-building-2);
}

.B1 {
  background: 0 0 no-repeat;
  background-size: auto 100%;

  // &.FK {
  //   @include base64-image($img-K-building-1);
  // }
  &.F0 {
    @include base64-image($img-EG-building-1);
  }
  &.F1 {
    @include base64-image($img-1OG-building-1);
  }
  &.F2 {
    @include base64-image($img-2OG-building-1);
  }
  // &.F3 {
  //   @include base64-image($img-3OG-building-1);
  // }
}

.B2 {
  background: 0 0 no-repeat;
  background-size: auto 100%;

  &.FK {
    @include base64-image($img-K-building-2);
  }
  &.F0 {
    @include base64-image($img-EG-building-2);
  }
  &.F1 {
    @include base64-image($img-1OG-building-2);
  }
  &.F2 {
    @include base64-image($img-2OG-building-2);
  }
  &.F3 {
    @include base64-image($img-3OG-building-2);
  }
}

.B3 {
  background: 0 0 no-repeat;
  background-size: auto 100%;

  &.FK {
    @include base64-image($img-K-building-3);
  }
  &.F0 {
    @include base64-image($img-EG-building-3);
  }
  &.F1 {
    @include base64-image($img-1OG-building-3);
  }
  &.F2 {
    @include base64-image($img-2OG-building-3);
  }
  // &.F3 {
  //   @include base64-image($img-3OG-building-3);
  // }
}

/*** Haus 1 EG***/
.B1 {
  /*1.001*/
  .number-001 {
    left: 94.5%;
    top: 63%;
  }
  /*1.002*/
  .number-002 {
    left: 86.5%;
    top: 63%;
  }
  /*1.004*/
  .number-004 {
    left: 90.5%;
    top: 42%;
  }
  /*1.005*/
  .number-005 {
    left: 30.5%;
    top: 45%;
  }
  /*1.006*/
  .number-006 {
    left: 78.5%;
    top: 28%;
  }
  /*1.007*/
  .number-007 {
    left: 78.5%;
    top: 32%;
  }
  /*1.008*/
  .number-008 {
    left: 90.5%;
    top: 14%;
  }

  /*** Haus 1 1OG***/
  /*1.104*/
  .number-104 {
    left: 86.5%;
    top: 15%;
  }

  /*** Haus 1 2OG***/
  /*1.201*/
  .number-201 {
    left: 94%;
    top: 62%;
  }
  /*1.202*/
  .number-202 {
    left: 86%;
    top: 62%;
  }
  /*1.204*/
  .number-204 {
    left: 86.5%;
    top: 35%;
  }
}

/*** Haus 2 K***/
.B2 {
  /*2.K18*/
  .number-K18 {
    left: 34%;
    top: 91%;
  }
  /*2.K19*/
  .number-K19 {
    left: 34%;
    top: 83%;
  }
  /*2.K25*/
  .number-K25 {
    left: 29%;
    top: 69%;
  }
  /*2.K26*/
  .number-K26 {
    left: 19%;
    top: 69%;
  }

  /*** Haus 2 EG ***/
  /*2.005*/
  .number-005 {
    left: 75%;
    top: 81%;
  }
  /*2.006*/
  .number-006 {
    left: 80.5%;
    top: 81%;
  }
  /*2.009*/
  .number-009 {
    left: 78%;
    top: 91%;
  }
  /*2.010*/
  .number-010 {
    left: 70%;
    top: 91%;
  }
  /*2.011*/
  .number-011 {
    left: 54%;
    top: 91%;
  }
  /*2.012*/
  .number-012 {
    left: 45%;
    top: 91%;
  }
  /*2.013*/
  .number-013 {
    left: 34%;
    top: 91%;
  }
  /*2.014*/
  .number-014 {
    left: 34%;
    top: 83%;
  }
  /*2.015*/
  .number-015 {
    left: 46%;
    top: 81%;
  }
  /*2.018*/
  .number-018 {
    left: 30%;
    top: 69%;
  }
  /*2.020*/
  .number-020 {
    left: 18%;
    top: 69%;
  }

  /*** Haus 2 1.OG ***/
  /*2.107*/
  .number-107 {
    left: 78%;
    top: 81%;
  }
  /*2.108*/
  .number-108 {
    left: 88%;
    top: 91%;
  }
  /*2.109*/
  .number-109 {
    left: 78%;
    top: 91%;
  }
  /*2.110*/
  .number-110 {
    left: 69%;
    top: 91%;
  }
  /*2.111*/
  .number-111 {
    left: 54%;
    top: 91%;
  }
  /*2.114*/
  .number-114 {
    left: 33%;
    top: 91%;
  }
  /*2.115*/
  .number-115 {
    left: 34%;
    top: 83%;
  }
  /*2.116*/
  .number-116 {
    left: 44%;
    top: 81%;
  }
  /*2.117*/
  .number-117 {
    left: 53%;
    top: 81%;
  }
  /*2.118*/
  .number-118 {
    left: 28%;
    top: 68.5%;
  }
  /*2.119*/
  .number-119 {
    left: 18%;
    top: 68.5%;
  }
  /*** Haus 2 2.OG ***/
  /*2.209*/
  .number-209 {
    left: 87.5%;
    top: 81%;
  }
  /*2.211*/
  .number-211 {
    left: 87.5%;
    top: 90%;
  }
  /*2.213*/
  .number-213 {
    left: 80.2%;
    top: 91%;
  }0
  /*2.214*/
  .number-214 {
    left: 77.6%;
    top: 91%;
  }
  /*2.215*/
  .number-215 {
    left: 75.2%;
    top: 91%;
  }
  /*2.219*/
  .number-219 {
    left: 62.5%;
    top: 91%;
  }
  /*2.221*/
  .number-221 {
    left: 55.3%;
    top: 91%;
  }
  /*2.223*/
  .number-223 {
    left: 49.8%;
    top: 91%;
  }
  /*2.224*/
  .number-224 {
    left: 47%;
    top: 91%;
  }
  /*2.226*/
  .number-226 {
    left: 34%;
    top: 92%;
  }
  /*2.227*/
  .number-227 {
    left: 34%;
    top: 88%;
  }
  /*2.229*/
  .number-229 {
    left: 41.8%;
    top: 81%;
  }
  /*2.231*/
  .number-231 {
    left: 47.4%;
    top: 81%;
  }
  /*2.234*/
  .number-234 {
    left: 24.4%;
    top: 67%;
  }

  /*** Haus 2 3.OG ***/

  /*2.304*/
  .number-304 {
    left: 73.2%;
    top: 81%;
  }
  /*2.305*/
  .number-305 {
    left: 78%;
    top: 81%;
  }
  /*2.306*/
  .number-306 {
    left: 88%;
    top: 80.5%;
  }
  /*2.307*/
  .number-307 {
    left: 86.5%;
    top: 35%;
  }
  /*2.308*/
  .number-308 {
    left: 88%;
    top: 92.5%;
  }
  /*2.309*/
  .number-309 {
    left: 78.5%;
    top: 91%;
  }
  /*2.310*/
  .number-310 {
    left: 86.5%;
    top: 91%;
  }
}

/*** Haus 3 K ***/

.B3 {
  /*3.K06*/
  .number-K06 {
    left: 72.5%;
    top: 35%;
  }
  /*3.K07*/
  .number-K07 {
    left: 8%;
    top: 76.5%;
  }

  /*** Haus 3 EG ***/
  /*3.005*/
  .number-005 {
    left: 7%;
    top: 75%;
  }
  /*3.006*/
  .number-006 {
    left: 5%;
    top: 66%;
  }
  /*3.015*/
  .number-015 {
    left: 25%;
    top: 13%;
  }

  /*** Haus 3 1.OG ***/
  /*3.104*/
  .number-104 {
    left: 7%;
    top: 75%;
  }
  /*3.105*/
  .number-105 {
    left: 5%;
    top: 66%;
  }

  /*** Haus 3 2.OG ***/
  /*3.204*/
  .number-204 {
    left: 7%;
    top: 75%;
  }
  /*3.205*/
  .number-205 {
    left: 5%;
    top: 66%;
  }
}
