{% extends 'LocationPlanBundle::Scaffolding/scaffolding.html.twig' %}

{% block main %}
{% if site is defined %}
<h2>{{ site.content|raw }}</h2>
{% else %}

<h2>Alle Räume</h2>
<p>Hier finden Sie alle Räume.</p>


<table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Raum</th>
          <th>Number</th>
          <th>Beschreibung</th>
        </tr>
      </thead>
      <tbody>
      {% for room in rooms %}
        <tr>
          <td>1</td>
          <td>{{ room.name }}</td>
          <td>{{ room.number }}</td>
          <td>{{ room.description }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

{% endif %}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}