{% extends 'TouchMeFloorPlanBundle:Scaffolding:scaffolding.html.twig' %}

{% block main %}

<h2>Neuen Raum bearbeiten</h2>

{% include 'TouchMeFloorPlanBundle:Location:_form.html.twig'  %}

{% endblock %}