{% extends 'TouchMeFloorPlanBundle:Scaffolding:scaffolding.html.twig' %}

{% block main %}

<h2>Alle Räume</h2>
<p>Hier finden Sie alle Räume.</p>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Number</th>
      <th>Raum</th>
      <th>Beschreibung</th>
    </tr>
  </thead>
  <tbody>
  {% for location in locations %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ location.number }}</td>
      <td>{{ location.name }}</td>
      <td>{{ location.description }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}