{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form class="form-signin" action="{{ path('login_check') }}" method="post">
        {% if error is defined and error is not empty %}
        <p>{{ error.message }}</p>
        {% endif %}
        <label for="username">
          Benutzername:
          <input type="text" name="_username" value="" autofocus="" placeholder="Benutzername" class="form-control">
        </label>
        <label>
          Passwort:
          <input type="password" name="_password" placeholder="Passwort" class="form-control">
        </label>
        <button type="submit" class="btn btn-sm btn-primary btn-block">Login</button>
      </form>
      </div>
  </div>
</div>
{% endblock %}