<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Location Plan Backend{% endblock %}</title>
    {% block stylesheets %}
      {% stylesheets
        '@TouchMeFloorPlanBundle/Resources/public/css/bootstrap.min.css'
        filter='yui_css'
        output='css/min.css'
      %}
        <link rel="stylesheet" href="{{ asset_url }}">
      {% endstylesheets %}



    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/FloorPlan/images/favicon.ico') }}">
  </head>

  <body class="{% block bodyClasses %}{% endblock %}">
    <header class="{% block headerClasses %}navbar navbar-inverse navbar-static-top {% endblock %}">
      {% embed 'TouchMeFloorPlanBundle:Scaffolding:header.html.twig' %}{% endembed %}
    </header>

    <section id="main" class="{% block mainClasses %}container {% endblock %}">
      {% block main %}
        {% if not is_granted('ROLE_USER') %}
          {% embed 'TouchMeFloorPlanBundle:Security:login.html.twig' %}{% endembed %}
        {% endif %}
      {% endblock %}
    </section>{# /#main #}

    <footer class="{% block footerClasses %}navbar navbar-default navbar-fixed-bottom {% endblock %}">
      {% block footer %}{% endblock %}
    </footer>

    {% block javascripts %}
      {% javascripts
        '@TouchMeFloorPlanBundle/Resources/public/js/jquery-2.1.0.min.js'
        '@TouchMeFloorPlanBundle/Resources/public/js/bootstrap.min.js'
      %}
        <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}

  </body>
</html>
