{% extends 'TouchMeFloorPlanBundle:Scaffolding:scaffolding.html.twig' %}

{% block main %}
  {{ parent() }}

  {% if success is not defined %}
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="backup">
    <input type="submit" name="submit" value="upload">
  </form>
  {% else %}
    <p class="success">Die Daten wurden erfolgreich importiert</p>
  {% endif %}

{% endblock %}
